
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Description:</strong>
  <% @movie.description %>
  <a href="<%= @movie.description %>" target="_blank"><%= @movie.title %></a>

<p>
  <% @movie.trailer %>
  <iframe src="<%= @movie.trailer %>" width="560" height="315">
  </iframe>

</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>


